body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: #808080;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    font-stretch: expanded;
    text-decoration: underline;
    text-align: center;
    letter-spacing: .25em;
}

p {
    line-height: 1.5em;
    word-spacing: .20em;
    text-indent: 10px;
}

.para {
    text-align: center;
}
p:first-letter{
    font-size: 2em;
}
div[class=para]{
    color: orange;
}
p[class^=z]{
    color: forestgreen;
}