
.sqaure{
    width: 300px;
    height: 300px;
    background-color: aquamarine; 
    margin: 80px;
   /* transition-duration: 3s;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 1ms; */

}
.sqaure:hover{
   /* background-color: blueviolet; */
    width: 600px;
     transform:rotatey(45deg);
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    background-color: lightcoral;
    animation-name: circle;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    position:relative;
}

@keyframes circle {
    0%{
        background-color: darkmagenta;
        width: 0px;
        height: 0px;
    }
    100%{
        background-color: cornflowerblue;
        width: 200px;
        height: 200px;
        left: 50px;
        top: 50px;
    }
}