*{
    background-color: blueviolet;
}
h3 {
    color:aquamarine;
    text-decoration:underline;
}

#int{
    text-transform: uppercase;
}

.txt{
    color:brown;
}

a.txt{
    color:orange;
}

h2,h3{
    font-style: oblique;
}