h1{
    border-style: solid;
    text-align: center;
    border-width: 10px;
   border-color: red yellow green;
   border-radius: 8px 0px;
   background-color: blue;
}

h2{
 border-width: 5px 2.5px;
 border-style: solid;
 text-align: center;
 border-color: aqua black;
 border-radius: 10px;
}

h3{
    border-style: solid;
    border-width:thin;
    text-align: center;
    border-color: aqua black aquamarine;
    border-radius: 15px;
}