header{
    border:5px solid;
    padding: 50px;
    margin: 50px;
    width: 200px;
    height: 105px;
    min-height: 200px;
    max-height: 50%;
    width: 500px;
}

h1{
    padding: 10px;
    border: 10px solid;
    margin: 10px;
    height: 100px;
    min-height: 200px;
    max-height: 60%;
}

